* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: rgba(63, 68, 74, 1);
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
}

header {
  padding: 68px 0 100px;
  background-color: rgba(8, 121, 144, 1);
}

h1 {
  color: #cff4fc;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  margin: 0 auto;
}

.header__text {
  font-size: 21px;
  line-height: 36px;
  color: #cff4fc;
  margin: auto;
}

.placeholder {
  padding: 0;
}
.find__it {
  position: absolute;
  top: 263px;
  margin-left: 83px;
  height: 64px;
  width: 820px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.find__input {
  height: 21px;
  max-width: 800px;
  border: none;
  display: block;
  margin: 22px 0 21px 32px;
  font-size: 24px;
  line-height: 21px;
  outline: none;
}

/* .find__input:active {
  border: none;
} */

h3 {
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  color: black;
  text-decoration-line: underline;
  margin: 18px 0 12px;
}

section {
  padding: 80px 0 49px;
  background-color: #d4d3d8;
}

.container {
  max-width: 986px;
  margin: 0 auto;
}

footer {
  background-color: #d4d3d8;
}
.footer__info {
  max-width: 986px;
  margin: 0 auto;
  border-top: 1px solid rgba(206, 212, 218, 1);
  padding: 13px 0 17px;
}

@media (max-width: 1000px) {
  .container {
    max-width: 90%;
  }
}
