.emoji__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 22px 19px;
  margin: 0 auto;
}

.emoji__card {
  height: 184px;
  width: 316px;
  padding: 24px 24px 24px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.emoji__pic {
  height: 48px;
  width: 48px;
  margin: 0 auto;
  font-size: 35px;
}

@media (max-width: 720px) {
  .emoji__cards {
    gap: 19px;
  }
}
